.card{
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
.btn-info {
    background-color: grey;
    color: white;
    border-color: black;
    margin-left: 35%;
    padding: 8px 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-weight: bold;
  }
}