<div class="card" style="width: 18rem;" *ngIf="event"> 
    <div class="card-body">
      <h2 class="card-title">{{ event.name }}</h2>
      <p class="card-text">{{ event.startingDate }}</p>
      <img [src]="'../assets' + event.imgUrl" class="card-img-top" alt="...">
      <p class="card-text">{{ event.insPeople }}/{{ event.maxPeople }} {{ 'inscritos' | translate }}</p>
      <p class="card-text">{{ event.description }}</p>
      <button type="button" class="btn btn-info">{{ 'Unete' | translate }}</button>
    <app-deleteevent></app-deleteevent>
    </div>
</div>