

<div class="container">
  <h2>Create an account</h2>
  <div class="form-group">
      <label for="name">Name:</label><br>
      <input type="name" class="form-control" id="name" placeholder="Enter email" name="name"><br><br>
    </div>
     <div class="form-group">
      <label for="surname">Surname:</label><br>
      <input type="surname" class="form-control" id="surname" placeholder="Enter surname" name="surname"><br><br>
    </div>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label><br>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><br><br>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label><br>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"><br><br>
    </div>
      <div class="form-group">
      <label for="repeatpwd">Repeat password:</label><br>
      <input type="password" class="form-control" id="repeatpwd" placeholder="Repeat password" name="repeatpwd"><br><br>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
 