

<!-- <div class="container">
  <h2>Create an account</h2>
  <div class="form-group">
      <label for="name">Name:</label><br>
      <input type="name" class="form-control" id="name" placeholder="Enter email" name="name"><br><br>
    </div>
     <div class="form-group">
      <label for="surname">Surname:</label><br>
      <input type="surname" class="form-control" id="surname" placeholder="Enter surname" name="surname"><br><br>
    </div>
  <form action="/action_page.php">
    <div class="form-group">
      <label for="email">Email:</label><br>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"><br><br>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label><br>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd"><br><br>
    </div>
      <div class="form-group">
      <label for="repeatpwd">Repeat password:</label><br>
      <input type="password" class="form-control" id="repeatpwd" placeholder="Repeat password" name="repeatpwd"><br><br>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div> -->

<div class="container">
  <div class="row">
      <div class="col">
          <h2 class="fw-bold text-center py-5">Create an account</h2>
      </div>
    <form action="#">
      <div class="mb-4">
        <label for="name" class="form-label">Name</label>
        <input type="name" class="form-control" name="name">
    </div>
    <div class="mb-4">
      <label for="surname" class="form-label">Surname</label>
      <input type="surname" class="form-control" name="surname">
  </div>
      <div class="mb-4">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email">
      </div>

      <div class="mb-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
      </div>

      <div class="mb-4">
        <label for="repeatpassword" class="form-label">Repeat Password</label>
        <input type="repeatpassword" class="form-control" name="repeatpassword">
    </div>

      <div class="d-grid">
          <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
     
    </form>
  </div>
</div>
 