<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="fw-bold text-center py-5">Bienvenido</h2>
        </div>
      <form action="#">
        <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email">
        </div>

        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
        <div class="my-3">
            <span>Don't have an account? <a href="#">Sign up</a></span>
        </div>
      </form>
    </div>
</div>