.card{
    margin-top: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
img{
    margin: 5%;
}

p{
    font-size:xx-small;
}

.btn{
    float: right;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: black;
    font-weight: bold;
    font-size: small;
}
}