<div class="card mb-3" *ngFor="let event of eventsData" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="event.imgUrl" class="img-fluid rounded-start" alt="Event Image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <p class="card-text">Date {{ event.startingDate }}</p>
            <p class="card-title">Name {{ event.name }}</p>
            <p class="card-text">Desription {{ event.description }}</p>
            <p class="card-text">Inscritos {{ event.insPeople }}</p>
            <button (click)="goToDetailsPage(event.id)" class="btn btn-primary">More</button>
        </div>
      </div>
    </div>
</div>
