.card{
    margin: 1% auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
img{
    margin: 5%;
    max-width: 70%;
    height: auto;

}

p{
    font-size:xx-small;
}

.btn{
    float: right;
    margin-bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-color: black;
    font-weight: bold;
    font-size: xx-small;
    padding: 1px 5px;
}

}