<div class="card mb-3" *ngIf="event" id="details-card">
  <div class="row g-0">
    <div class="col-4">
      <img [src]="'../assets' + event.imgUrl" class="img-fluid rounded-start" alt="Event Image">
    </div>
    <div class="col-8">
      <div class="card-body">
        <p class="card-text" id="datep">{{ formatEventDate(event.startingDate) }}<app-favorites [event]="event"></app-favorites></p>
        <h2 class="card-title">{{ 'event' + event.idevents + '.name' | translate }}</h2>
        <p class="card-text">{{ 'event' + event.idevents + '.description' | translate }}</p>
        <p class="card-text" id="insp">{{ event.insPeople }}/{{ event.maxPeople }} {{ 'inscritos' | translate }}</p>
        <button type="button" class="btn btn-info">{{ 'Unete' | translate }}</button>
      </div>
    </div>
  </div>
</div>