<div class="card" style="width: 18rem;" *ngIf="event" id="details-card">
  <div class="card-body">
    <h2 class="card-title">{{ 'event' + event.idevents + '.name' | translate }}</h2>
    <p class="card-text" id="datep">{{ formatEventDate(event.startingDate) }}
    <img [src]="'../assets' + event.imgUrl" class="img-fluid rounded-start" alt="Event Image">
    <p class="card-text">{{ 'event' + event.idevents + '.description' | translate }}</p>
    <p class="card-text" id="insp">{{ event.insPeople }}/{{ event.maxPeople }} {{ 'inscritos' | translate }}</p>
    <button type="button" class="btn btn-info">{{ 'Unete' | translate }}</button>
  </div>
</div>