<footer>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Medula+One&display=swap" rel="stylesheet">
    <div class="container">
    <h3>InscríbeMe</h3>
    <p>&copy; Copyright 2023</p>
    </div>
    <div class="language">
        <button id="lang" (click)="changeLanguage('es')"><img type="button" class="spanish" src="/assets/images/spain.png"></button>
<button id="lang" (click)="changeLanguage('en')"><img type="button" class="english" src="/assets/images/england.png"></button>
        
    </div>
</footer>