<footer>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Medula+One&display=swap" rel="stylesheet">
<div class="container">
    <h3>InscríbeMe</h3>
    <p>&copy; Copyright 2023</p>
    </div>
    <div class="language">
        <img class="english" src="/assets/images/england.png">
        <img class="spanish" src="/assets/images/spain.png">
    </div>
</footer>